.big-banner {
  position: relative;
}

.carrousel-images {
  position: relative;
  width: 100%;

  .slick-prev {
    position: absolute;
    bottom: 28%;
    right: 40px;
    z-index: 10;
    cursor: pointer;
  }

  .slick-next {
    position: absolute;
    right: 15px;
    bottom: 28%;
    z-index: 10;
    cursor: pointer;
  }

  .slick-list {
    position: relative;
    display: block;
    margin: 0 auto;
    overflow: hidden;

    .slick-track {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: auto;
      margin-left: auto;
    }

    @media (min-width: 1025px) {
      width: 100%;
    }
  }

  .slick-dots {

    position: absolute;
    right: 0;
    bottom: 35px;
    left: 0;
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    padding: 0;
    margin: 0 auto;


    li {
      display: flex;
      margin: 0 4px;

      &.slick-active {
        button {
          display: flex;
          width: 36px;
          height: 3px;
          padding: 0;
          font-size: 0;
          color: transparent;
          cursor: pointer;
          background: transparent;
          background: #000000;
          border: none;
          transition: border .5s ease-in-out;
        }
      }

      button {
        display: flex;
        width: 36px;
        height: 1px;
        padding: 0;
        font-size: 0;
        color: transparent;
        cursor: pointer;
        background: transparent;
        background: #000000;
        border: none;
        transition: border .5s ease-in-out;
      }
    }
  }

}

.containerBannerCustom {
  position: relative;
  height: 840px;
  display: flex !important;
  align-items: center;
  justify-content: space-around;

  .infoBanner {

    z-index: 99;
    text-align: end;
    padding: 0 0 0 30%;

    @media (max-width: 1200px){
      left: 215px;
    }

    .nameBannerCustom p {
      font-family: "Roboto";
      font-size: 46px;
      font-weight: 900;
      line-height: 54px;
      letter-spacing: 0em;
      color: #fff;
    }
    .priceBannerCustom p {
      font-family: "Roboto";
      font-size: 70px;
      font-weight: 900;
      line-height: 82px;
      letter-spacing: 0em;
      color: #3EC6E0;
    }

    .textBannerCustom {
      max-width: 400px;

      @media (max-width: 1200px) {
        margin: 0 0 0 auto;
      }

      p {
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: right;
        color: #fff;
      }
    }

  }

  .imageBanner {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
 
}

.infoBarBannerteste {
    font-size: 0;
}

.infoBarBanner {

  display: flex;
  flex-direction: row;
  position: inherit;
  text-align: end;

  position: absolute;
  right: -160px;
  top: 395px;

  width: 384px;
  height: 63px;

  transform: rotate(90deg);

  .nameBarBanner {
    display: flex;
    justify-content: space-around;
    background-color: #3EC6E0;
    width: 80%;
    padding: 0 15px;
    gap: 20px;

    p {
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-transform: uppercase;
      color: #fff;
      margin: auto 10px;

      @media (max-width: 1025px) {
        font-size: 13px;
      }
    }

    .lineBarBanner {
      background-color: #fff;
      border-bottom: 1px solid #fff;
      width: 30%;
      height: 1px;
      margin: auto;
    }
  }
  
  .textBarBanner {
    background: #084154;
    border-bottom-right-radius: 10px;
    width: 20%;
    display: flex;
    padding: 10px;
    align-items: center;

    .pageActiveBarBanner {
      transform: rotate(-90deg);
      font-family: "Roboto";
      color: #fff;
    }
  }
}