
.containerMinicart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    max-width: 380px;
    height: 100%;
    max-height: 100%;
    border-left: 2px solid #084154;
    top: 0;
    background: #fff;
    z-index: 999;
    transition: all .5s cubic-bezier(.23,1,.32,1);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #c4c4c4;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3EC6E0;
        border-radius: 5px;
    }

    .containerTitleMinicart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;

        span {
            font-family: "Roboto";
            font-size: 30px;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0em;
            color: #084154;
        }

    }

    .containerTotalCart {
        background-color: gainsboro;
        text-align: end;
        padding: 30px;
        max-height: 200px;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .totalCart {
            font-family: "Roboto";
            font-size: 30px;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0em;
            color: #084154;
        }

        .valueTotalCart {
            font-family: "Roboto";
            font-size: 30px;
            font-weight: 900;
            line-height: 16px;
            letter-spacing: 0em;
            color: #084154;

        }
    }
}

.MenuDrawerOverlay {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.29);
}

.MenuDrawerHidden {
    right: -100%;
    opacity: 0;
}

.MenuDrawerShown {
    right: 0;
    opacity: 1;
}